#DS_Store
.DS_Store/
.DS_Store


# Sqlite
db.sqlite3

# dotenv
.env
venv
.vs/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc
.python-version

.vscode
.coverage
dump.rdb
celerybeat.*
celerybeat-*
